<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Havok.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <Havok.My.MySettings>
   <setting name="Weapons_UDPInterval" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="Havok_Interface_VisualStyling" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="Havok_Interface_SystemStats" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="Havok_Interface_ChestaGUI" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Havok_Feature_Lockdown" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BrowserHomepageURL" serializeAs="String">
    <value>about:blank</value>
   </setting>
   <setting name="LastSelectedWeapon" serializeAs="String">
    <value>UDP-Flooder</value>
   </setting>
   <setting name="FirstRun" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="LastTypedIPAddress" serializeAs="String">
    <value />
   </setting>
   <setting name="LastTypedPort" serializeAs="String">
    <value />
   </setting>
   <setting name="LastTypedMiscBox" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberLastTyped" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="TimeEnabled" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="NetworkStatusInStatusBar" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="StatusBarVisible" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="OptionsButtonVisible" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="BrowserStatusTextVisible" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="BrowserNotifyOnRedirect" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="BrowserNotifyOnJavascriptError" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="BrowserNotifyOnSecurityStateChanged" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="HideOnStartup" serializeAs="String">
    <value>false</value>
   </setting>
  </Havok.My.MySettings>
 </userSettings>
</configuration>
