<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Havok.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <Havok.My.MySettings>
   <setting name="Havok_Weapons_UDPInterval" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="Havok_Interface_VisualStyling" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="Havok_Interface_SystemStats" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="Havok_Interface_ChestaGUI" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Havok_Environment_Lockdown" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Havok_Browser_HomepageURL" serializeAs="String">
    <value>about:blank</value>
   </setting>
   <setting name="Havok_Environment_LastTyped_LastSelectedWeapon"
    serializeAs="String">
    <value>UDP-Flooder</value>
   </setting>
   <setting name="Havok_Environment_FirstRun" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Environment_LastTyped_LastTypedIPAddress"
    serializeAs="String">
    <value />
   </setting>
   <setting name="Havok_Environment_LastTyped_LastTypedPort" serializeAs="String">
    <value />
   </setting>
   <setting name="Havok_Environment_LastTyped_LastTypedMiscBox"
    serializeAs="String">
    <value />
   </setting>
   <setting name="Havok_Environment_RememberLastTyped" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Interface_CurrentTimeClockEnabled" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Interface_Extensions_NetMon_InStatusBar"
    serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="Havok_Interface_StatusBarVisible" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Interface_OptionsButtonVisible" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Interface_Browser_StatusTextVisible" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Interface_Browser_NotifyOnRedirect" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Interface_Browser_NotifyOnJavascriptError"
    serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Browser_NotifyOnSecurityStateChanged" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Environment_HideOnStartup" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="Havok_Extensions_NetMon_TimerInterval" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="Havok_Environment_DevMessage" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Interface_WindowHeaderBarEnabled" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Interface_MenuStripEnabled" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="Havok_Interface_UseDoubleBuffers" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="Havok_Weapons_ViewSource_AutoRefresh" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="Havok_Weapons_ViewSource_AutoRefresh_RefreshInterval"
    serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="Havok_Weapons_RunOnStartup" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="Havok_Weapons_RunOnStartup_WeaponName" serializeAs="String">
    <value />
   </setting>
   <setting name="Havok_Interface_StatusTextVisible" serializeAs="String">
    <value>gotta chnage this shit, and put the code in for it</value>
   </setting>
   <setting name="Havok_Enviroment_InstallNightlies" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="Havok_Enviroment_NightlyMirrorURL" serializeAs="String">
    <value>http://fs1.d-h.st/download/00073/LrZ/latest_nightly.zip</value>
   </setting>
   <setting name="Havok_Enviroment_StableMirrorURL" serializeAs="String">
    <value>http://fs1.d-h.st/download/00073/5lz/latest_stable.zip</value>
   </setting>
   <setting name="Havok_Weapons_Router_Login_GatewayIP" serializeAs="String">
    <value>192.168.1.1</value>
   </setting>
   <setting name="Havok_Weapons_Router_Login_LoginPageSlash" serializeAs="String">
    <value>/cfg/login</value>
   </setting>
   <setting name="Havok_Weapons_Router_Login_AutoOpenRouterPage"
    serializeAs="String">
    <value>true</value>
   </setting>
  </Havok.My.MySettings>
 </userSettings>
</configuration>
